body {
    background-color: #ffffff;
}

h1.title-post {
    font-size: 1.5rem;
    font-weight: 600;
}

.title-sidebar {
    background-color: #0069d9;
    color: #fff4f1;
    padding: 15px;
}

.title-sidebar i {
    color: #e0a800;
}

.navbar-nav {
    padding: 10px;
}

@media screen and (max-width: 991px){
    .sidebar-post {
        position: relative !important;
    }
}

.description {
    margin: 15px 0;
}

.information .fa-money-bill {
    color: #28a745;
}

