/* Please ❤ this if you like it! */
/* #Primary
================================================== */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #212112;
    background-color: rgb(175, 165, 165);
    overflow-x: hidden;
    box-sizing: border-box;
    transition: all 200ms linear;
}

::selection {
    color: #fff;
    background-color: #8167a9;
}

::-moz-selection {
    color: #fff;
    background-color: #8167a9;
}

p {
    text-align: left !important;
}

a:link {
    text-decoration: none;
}

/* #Navigation
================================================== */

.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 20px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap {
    position: sticky;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    box-shadow: 5px 5px 10px #888888;
}

.dropdown .dropdown-menu {
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1,0);
    display: block;
}
.dropdown:hover .dropdown-menu {
    transform: scale(1);
}

.navbar {
    padding: 0;
}

.navbar-brand img {
    height: 80px;
    width: auto;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

@media screen and (max-width: 991px) {
    .navbar-brand img {
        height: 50px;
    }
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link {
    color: #8167a9 !important;
}

.nav-item.active .nav-link {
    color: #777 !important;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

/*.nav-item:after {*/
/*    position: absolute;*/
/*    bottom: -5px;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    content: '';*/
/*    background-color: #8167a9;*/
/*    opacity: 0;*/
/*    transition: all 200ms linear;*/
/*}*/

/*.nav-item:hover:after {*/
/*    bottom: 0;*/
/*    opacity: 1;*/
/*}*/

/*.nav-item.active:hover:after {*/
/*    opacity: 0;*/
/*}*/

nav ul li a.nav-link,
nav ul li a.nav-link:after,
nav ul li a.nav-link:before {
    transition: all .5s;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

nav ul li a.nav-link {
    position: relative;
}

nav ul li a.nav-link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    background-color: #8167a9;
    color: transparent;
    height: 1px;
}

nav ul li a.nav-link:hover:after {
    width: 100%;
    text-decoration: none;
}

/* #Primary style
================================================== */

.bg-light {
    background-color: #fff !important;
    transition: all 200ms linear;
}

.section {
    position: relative;
    width: 100%;
    display: block;
}

.over-hide {
    overflow: hidden;
}

h4 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    color: #212112;
    text-align: center;
}

p {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    opacity: 1;
    transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}

/*body.hero-anime p {*/
/*    opacity: 0;*/
/*    transform: translateY(40px);*/
/*    transition-delay: 1700ms;*/
/*}*/

.section {
    position: relative;
    padding: 3rem 0;
    background-image: url(../images/bg-motel.jpeg);
    color: #fff;
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: repeat-y;
}

h4 span {
    display: inline-block;
    transition: all 300ms linear;
    opacity: 1;
    transform: translate(0);
}

body.hero-anime h4 span:nth-child(1) {
    opacity: 0;
    transform: translateY(-20px);
}

body.hero-anime h4 span:nth-child(2) {
    opacity: 0;
    transform: translateY(-30px);
}

body.hero-anime h4 span:nth-child(3) {
    opacity: 0;
    transform: translateY(-50px);
}

body.hero-anime h4 span:nth-child(4) {
    opacity: 0;
    transform: translateY(-10px);
}

body.hero-anime h4 span:nth-child(5) {
    opacity: 0;
    transform: translateY(-50px);
}

body.hero-anime h4 span:nth-child(6) {
    opacity: 0;
    transform: translateY(-20px);
}

body.hero-anime h4 span:nth-child(7) {
    opacity: 0;
    transform: translateY(-40px);
}

body.hero-anime h4 span:nth-child(8) {
    opacity: 0;
    transform: translateY(-10px);
}

body.hero-anime h4 span:nth-child(9) {
    opacity: 0;
    transform: translateY(-30px);
}

body.hero-anime h4 span:nth-child(10) {
    opacity: 0;
    transform: translateY(-20px);
}

h4 span:nth-child(1) {
    transition-delay: 1000ms;
}

h4 span:nth-child(2) {
    transition-delay: 700ms;
}

h4 span:nth-child(3) {
    transition-delay: 900ms;
}

h4 span:nth-child(4) {
    transition-delay: 800ms;
}

h4 span:nth-child(5) {
    transition-delay: 1000ms;
}

h4 span:nth-child(6) {
    transition-delay: 700ms;
}

h4 span:nth-child(7) {
    transition-delay: 900ms;
}

h4 span:nth-child(8) {
    transition-delay: 800ms;
}

h4 span:nth-child(9) {
    transition-delay: 600ms;
}

h4 span:nth-child(10) {
    transition-delay: 700ms;
}

body.hero-anime h4 span:nth-child(11) {
    opacity: 0;
    transform: translateY(30px);
}

body.hero-anime h4 span:nth-child(12) {
    opacity: 0;
    transform: translateY(50px);
}

body.hero-anime h4 span:nth-child(13) {
    opacity: 0;
    transform: translateY(20px);
}

body.hero-anime h4 span:nth-child(14) {
    opacity: 0;
    transform: translateY(30px);
}

body.hero-anime h4 span:nth-child(15) {
    opacity: 0;
    transform: translateY(50px);
}

body.hero-anime h4 span:nth-child(16) {
    opacity: 0;
    transform: translateY(60px);
}

body.hero-anime h4 span:nth-child(17) {
    opacity: 0;
    transform: translateY(70px);
}

body.hero-anime h4 span:nth-child(18) {
    opacity: 0;
    transform: translateX(80px);
}

body.hero-anime h4 span:nth-child(19) {
    opacity: 0;
    transform: translateX(90px);
}

body.hero-anime h4 span:nth-child(20) {
    opacity: 0;
    transform: translateX(100px);
}

body.hero-anime h4 span:nth-child(21) {
    opacity: 0;
    transform: translateY(110px);
}

h4 span:nth-child(11) {
    transition-delay: 1300ms;
}

h4 span:nth-child(12) {
    transition-delay: 1500ms;
}

h4 span:nth-child(13) {
    transition-delay: 1400ms;
}

h4 span:nth-child(14) {
    transition-delay: 1200ms;
}

h4 span:nth-child(15) {
    transition-delay: 1450ms;
}

h4 span:nth-child(16) {
    transition-delay: 1650ms;
}

h4 span:nth-child(17) {
    transition-delay: 1800ms;
}

h4 span:nth-child(18) {
    transition-delay: 1850ms;
}

h4 span:nth-child(19) {
    transition-delay: 1950ms;
}

h4 span:nth-child(20) {
    transition-delay: 2000ms;
}

h4 span:nth-child(21) {
    transition-delay: 2050ms;
}

.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
    max-height: 999px;
    transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
    padding: 10px !important;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item {
    padding: 3px 15px;
    color: #212121;
    border-radius: 2px;
    transition: all 200ms linear;
}

.navbar .collapse a.singin_up {
    background: none;
    text-decoration: none;
    border: 1px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 0.5em;
    color: #706eef;
    transition: transform 250ms;
}

.navbar .collapse a.singin_up:hover,
.navbar .collapse a.singin_up:focus {
    transform: translateY(-5px);
    background-color: #706eef;
    color: #fff;
    box-shadow: 0 8px 6px -6px #000;
}

.animated-dang-tin {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    overflow: hidden;
    color: #d4e0f7;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
}

.animated-dang-tin::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: #8592ad;
    opacity: 0;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
}

.animated-dang-tin:hover::before {
    opacity: 0.2;
}

.animated-dang-tin span {
    position: absolute;
}

.animated-dang-tin span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, rgba(8, 20, 43, 0), #2662d9);
    -webkit-animation: 2s animateTop linear infinite;
    animation: 2s animateTop linear infinite;
}

@-webkit-keyframes animateTop {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes animateTop {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.animated-dang-tin span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2px;
    background: linear-gradient(to top, rgba(8, 20, 43, 0), #2662d9);
    -webkit-animation: 2s animateRight linear -1s infinite;
    animation: 2s animateRight linear -1s infinite;
}

@-webkit-keyframes animateRight {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes animateRight {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.animated-dang-tin span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgba(8, 20, 43, 0), #2662d9);
    -webkit-animation: 2s animateBottom linear infinite;
    animation: 2s animateBottom linear infinite;
}

@-webkit-keyframes animateBottom {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes animateBottom {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.animated-dang-tin span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #2662d9);
    -webkit-animation: 2s animateLeft linear -1s infinite;
    animation: 2s animateLeft linear -1s infinite;
}

@-webkit-keyframes animateLeft {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes animateLeft {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

/*box option search*/
.form-search {
    padding: 1em;
    background: rgba(41, 36, 36, 0.521);
    border-radius: 10px;
}

.form-search label {
    color: #fff;
}

button.btn-search {
    position: absolute;
    left: 0;
    bottom: 0;
}

.container .post-sort {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(52, 97, 196, 0.932);
}

.container a.active {
    background-color: rgba(52, 97, 196, 0.932);
    color: #fff;
}

.detail-list {
    margin: 10px 0 !important;
    background-color: #fff4f1;
    border: 1px solid #ededed;
    transition: box-shadow .3s;
}

.detail-list:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.detail-list .info-real {
    font-size: 13px;
    padding: 15px;
}

.detail-list .info-real strong {
    color: #666;
}

/* section area */
.section-travel {
    margin: 15px 0;
}

.section-travel .title-area {
    border-bottom: 1px solid #000;
}

.section-travel .section-content {
    margin: 10px 0;
}

.section-travel .section-content .grid-item {
    margin: 5px 0;
    overflow: hidden;
}

.section-travel .section-content .grid-item a {
    height: auto;
}

.section-travel .section-content .grid-item img {
    width: 100%;
    height: 250px;
    position: relative;
    filter: grayscale(30%);
    background-color: rgba(41, 36, 36, 0.521);
    transform: scale(1);
    transition: all .3s ease-in-out;
}

.section-travel .section-content .grid-item a:hover img {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.section-travel .section-content .grid-item .backdrop-overlay {
    color: #fff;
}

.section-travel .section-content .grid-item .backdrop-overlay .place-name {
    text-align: center;
    padding-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-in-out;
}

.section-travel .section-content .grid-item a:hover .backdrop-overlay .place-name {
    transform: translate(-50%, -100%);
    transition: all 0.4s ease-in-out;
}

.section-travel .section-content .grid-item .backdrop-overlay .place-name h4 {
    margin: 0px;
    line-height: 30px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
}

.section-travel .section-content .grid-item a .backdrop-overlay .place-name span {
    width: 40px;
    height: 2px;
    background-color: #ffffff;
    display: inline-block;
    margin: 0 auto
}

.section-travel .section-content .grid-item a .backdrop-overlay .place-info {
    margin: 0px auto;
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transition-delay: 1s;
    transition: all 0.6s ease-in-out;
}

.section-travel .section-content .grid-item a:hover .backdrop-overlay .place-info {
    display: block;
    transform: translate(-50%, -50%);
}

/* footer */

footer.bg-dark h5 {
    padding: 5px;
    color: #fff;
}

footer.bg-dark ul li {
    list-style-type: none;
    color: rgb(255, 255, 255);
}

footer.bg-dark ul li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

footer.bg-dark ul li a:hover {
    color: rgba(52, 97, 196, 0.932)
}

#loading.hidden {
    opacity: 0;
    display: none;
}

#loading.show {
    display: block;
    opacity: 1;
}

#loading.show~div {
    display: none;
}

#loading.show~section {
    display: none;
}

#loading.show~footer {
    display: none;
}

#loading ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110px;
    height: 110px;
}

#loading ul li {
    list-style: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ff0;
    position: absolute;
    top: 0;
    left: 0;
    animation: animateLoading 1.5s infinite linear;
}

#loading ul li:nth-of-type(1) {
    background: #16a085;
    animation-delay: 0s;
    box-shadow: 0 0 30px 5px #16a085;
}

#loading ul li:nth-of-type(2) {
    background: #8e44ad;
    animation-delay: .3s;
    box-shadow: 0 0 30px 5px #8e44ad;
}

#loading ul li:nth-of-type(3) {
    background: #d35400;
    animation-delay: 0.6s;
    box-shadow: 0 0 30px 5px #d35400;
}

#loading ul li:nth-of-type(4) {
    background: #7f8c8d;
    animation-delay: 1.2s;
    box-shadow: 0 0 30px 5px #7f8c8d;
}

.box {
    margin: 20px auto;
    text-align: center;
}

/* sidebar of post a new article */

.sidebar {
    background: rgba(11, 12, 14, 0.822);
}

.sidebar .nav-link {
    color: #fff !important;
    text-decoration: none;
    font-size: 13px;
    background-color: transparent !important;
}

.sidebar .nav-item:hover {
    background-color: rgba(17, 16, 13, 0.281);
    border-radius: 2px;
}

.sidebar .nav-item:hover a.nav-link {
    color: rgb(255, 201, 22);
}

.sidebar .nav-item::after {
    content: '';
    position: absolute;
    height: 0;
    background-color: transparent !important;
}

/* section post a new article */
.content .title-section {
    border-bottom: 1px solid rgb(107, 93, 93);
}

.content .title-section h4 {
    font-weight: 600;
}

.content .form-group label {
    font-size: 15px;
    font-weight: 600;
    color: rgba(52, 97, 196, 0.932);
    margin: 0;
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
}

label.add-img input {
    display: none
}

label.add-img span {
    width: 80px;
    display: block;
    height: 80px;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
    background: #ededed;
    border: 5px solid #dadada;
    cursor: pointer
}

.img-list-img {
    padding: 1em;
}

.img-list-img img {
    margin: 0 5px;
}

i.fa-trash-alt {
    color:rgba(209, 208, 208, 0.877);
}

.img-list-img a.delete,
.img-list-img a.delete_file_add {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease-out;
    padding: 5px;
    background-color: #1f2222a4;
    border-radius:50%;
    cursor: pointer;
}


@keyframes animateLoading {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: calc(100% - 40px);
    }

    50% {
        top: calc(100% - 40px);
        left: calc(100% - 40px);
    }

    75% {
        top: calc(100% - 40px);
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}

img.img-fluid {
    padding: 15px;
    max-height: 150px;
}

.error-msg {
    color: #D8000C;
    display: none;
}

.detail-personal-post {
    background-color: #fff4f1;
    border: 1px solid #ededed;
    transition: box-shadow .3s;
    font-size: 0.75rem;
}

.pure-button {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

/*detail post*/
h1.title-post {
    font-size: 1.5rem;
    font-weight: 600;
}

.title-sidebar {
    background-color: #0069d9;
    color: #fff4f1;
    padding: 15px;
}

.title-sidebar i {
    color: #e0a800;
}

.navbar-nav {
    padding: 10px;
}

.sidebar-post {
    /*position: fixed;*/
}

@media screen and (max-width: 991px){
    .sidebar-post {
        position: relative !important;
    }
}

.description {
    margin: 15px 0;
}

.description h5,
.information h5 {
    border-bottom: 1px solid #6c757d;
}

.information .fa-money-bill {
    color: #28a745;
}
/*detail post*/
/*====================================================*/

/*update status rental*/
.widget {
    margin: 1rem 0;
}
.widget span {
    display: inline-block;
    margin-right: 1rem;
}
input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
input[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* Checkbox Switch styles */
legend {
    font-size: 1rem !important;
}

.switch input[type="checkbox"], .switch input[type="radio"] {
    display: none;
}
.switch input[type="checkbox"] + label, .switch input[type="radio"] + label {
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background-color: red;
    display: inline-block;
    content: "";
    margin-right: 5px;
    transition: background-color 0.5s linear;
    line-height: 2;
}
.switch input[type="checkbox"] + label:hover, .switch input[type="radio"] + label:hover {
    cursor: pointer;
}
.switch input[type="checkbox"] + label:before, .switch input[type="radio"] + label:before {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background-color: #eee;
    display: block;
    content: "";
    float: left;
    margin-right: 5px;
    transition: margin 0.2s linear, background-color 0.2s linear;
    box-shadow: 0px 0px 5px #aaa;
}
.switch input[type="checkbox"]:checked + label, .switch input[type="radio"]:checked + label {
    background-color: green;
}
.switch input[type="checkbox"]:checked + label:before, .switch input[type="radio"]:checked + label:before {
    margin: 0 0 0 25px;
    background-color: #eee;
}
/*update status rental*/
/*====================================================*/

/*comments post*/
.comment-wrapper h1{
    color: #283035;
    font-weight: 400;
    font-size: 1.25rem;
}

.comments-container {
    margin: 2rem 0;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    margin-top: 30px;
    position: relative;
}

.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    /*left: 29px;*/
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}


.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}

.comments-list .comment-avatar{
    height: auto;
    position: relative;
    z-index: 99;
    float: left;
    overflow: hidden;
}

.comments-list .comment-avatar img{
    border: 3px solid #FFF;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    width: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

.comments-list .comment-box {
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    background-color: #FFF;
    margin-left: 13px;
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}

.reply-list .comment-box {
    width: 610px;
}
.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    margin-left: 14px;
    position: relative;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 0px 0px;
    -moz-border-radius: 0 0 0px 0px;
    border-radius: 0 0 0px 0px;
    border-bottom: .5px solid #e5e5e5;
}

.comment-box .comment-content p {
    word-wrap: break-word !important;
    overflow-wrap: break-word
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
    /*content: '';*/
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.comment-box .posted-time {
    margin-top: 0px;
}

form .form-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

form .form-buttons .btn {
    margin-left: .5rem
}

.comment-main-level .comment-box .comment-head .comments-list-action {
    -webkit-box-shadow: 8px 1px 10px 5px #fff !important;
    -moz-box-shadow: 8px 1px 10px 5px #fff !important;
    box-shadow: 8px 1px 10px 5px #fff !important
}

.comment-head .comments-list-action {
    float: right;
    position: absolute;
    right: 0.7rem;
    top: 1rem;
    background: #fff;
    -webkit-box-shadow: -8px 1px 10px 5px #fff;
    -moz-box-shadow: -8px 1px 10px 5px #fff;
    box-shadow: -8px 1px 10px 5px #fff;
    padding: 0 5px
}

.comment-head .comments-list-action [data-toggle=dropdown] i {
    font-size: 18px
}

.comment-head .dropdown-menu .dropdown-item {
    color: rgba(255, 255, 255, .7)
}

.dropdown-menu-right {
    right: 0;
    left: auto;
    z-index: 999;
}

.dropdown-item {
    font-size: 14px
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff
}

.comments-list-action .dropdown .dropdown-menu {
    display: none;
}

.comments-list-action .dropdown .dropdown-menu.show {
    display: block;
}
/*comments post*/

#formEdit {
    display: none;
}

/*btn chat*/
.btn-whatsapp-pulse {
    background: #25d366;
    color: white;
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    padding: 30px;
    text-decoration: none;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    z-index: 999;
}

.btn-whatsapp-pulse:hover {
    text-decoration: none;
}

.collapse .dropdown .setting,
.collapse .message {
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    padding: 0.5rem;
    border-radius: 50%;
}

.collapse .dropdown .setting svg,
.collapse .message i {
    line-height: 1;
}

.notify-message-count {
    position: absolute;
    width: 15px;
    transform: translateX(70%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 0;
    font-size: 11px;
    height: 15px;
    background-color: #af0201;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
    }
    80% {
        box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
    }
}

/* #Media reponsive
================================================== */
@media (min-width: 768px) {
    .collapse .dropdown .dropdown-menu.dropdown-setting {
        position: absolute;
        top: 100%;
        left: auto;
        right: 0 !important;
    }
}

@media (max-width: 991px) {
    button.btn-search {
        position: relative;
        margin-top: 2em;
    }

    .dropdown .dropdown-menu {
        display: none;
    }
    .btn-whatsapp-pulse {
        font-size: 20px;
        padding: 20px;
    }
}

@media (min-width: 992px) {
    .grid-lg {
        padding: 0 2.5px !important;
    }
}

@media (max-width: 767px) {
    h4 {
        font-size: 38px;
    }

    .detail-list .info-real {
        font-size: 12px;
    }

    .nav-item:after {
        display: none;
    }

    .nav-item::before {
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
    }

    .dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }

    .dropdown-toggle[aria-expanded="true"]::after {
        transform: rotate(90deg);
        opacity: 0;
    }

    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }

    .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }

}